.field-pair,
button {
    border: 3px solid var(--color-fg);
    border-top-width: 2px;
    border-bottom-width: 4px;
    box-shadow: 3px 3px var(--color-outline-semi);
    border-radius: 4px;
    width: 60%;
    margin-left: 20%;
    margin-top: 10px;
}

.field-pair {
    display: grid;
    grid-template-columns: 100px 1fr;
    padding: 10px;
}

.field-pair > * {
    border: none;
    font-size: 1.2rem;
    padding: 5px;
    font-family: sans-serif;
}

button {
    background-color: var(--color);
    color: white;
    margin-left: 20%;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
}

/* Mobile support */
@media (max-width: 992px) {
    .field-pair,
    button {
        margin: 2px;
        width: auto;
    }
}

